.grid-square {
  border-style: dotted;
  width: 60px; /*30px para medium*/
  height: fit-content;
  border-width: 0.1px;
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 20%;
  border-color: coral;
  padding: 2px;
}

.grid-square:hover {
  background-color: lightblue;
}

.grid-square-Easy {
  width: 60px;
}

.grid-square-Medium {
  width: 30px;
}

.grid-square-Hard {
  width: 100%;
}
