.grid-board {
  display: grid;
  width: 100%;
  grid-gap: 0;
}

.grid- {
  grid-template-columns: repeat(10, auto);
}

.grid-Medium {
  grid-template-columns: repeat(20, auto);
}

.grid-Hard {
  grid-template-columns: repeat(30, auto);
}
