.grid-square {
  display: flex;
  justify-content: center;
  border-style: solid;
  width: 10px; /*30px para medium*/
  height: 10px;
  border-width: 2px;
  background-color: lightskyblue;
  border-radius: 10px;
  border-color: rgb(49, 77, 233);
  padding: 20px;
  margin: 2px;
  color: black;
  align-items: center;
  transition: all 0.2s;
}

.grid-square:hover {
  background-color: rgb(59, 131, 238);
  color: white;
}

.done {
  background-color: #409c3aa1;
  color: white;
}
