/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Jogo de Memória em React
*** Estilos para game-panel.componente.jsx 
**********************************************/

.container {
  display: flex;
}

#game-panel {
  width: 100%;
  margin: 0 auto;
}

#game.easy {
  width: auto;
  height: auto;
  min-width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-template-columns: repeat(10, auto);
  gap: 0px;
  display: grid;
  justify-content: center;
  perspective: 1000px;
  user-select: none;
}

#game.avancado {
  width: auto;
  height: auto;
  min-width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-template-columns: repeat(20, auto);
  gap: 0px;
  display: grid;
  justify-content: center;
  perspective: 1000px;
  user-select: none;
}

#game.intermedio {
  width: auto;
  height: auto;
  min-width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-template-columns: repeat(15, auto);
  gap: 0px;
  display: grid;
  justify-content: center;
  perspective: 1000px;
  user-select: none;
}
